
.container {  
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  overflow:hidden;
}
.editor_section{
  height: 100%;
  flex: 1;
}
.side_container{
  width: 200px;
  height: 100%;
}

.resume_section{
  height: 100%;
}
.resume_modal{
  margin: 0px;
  height: 100%;
  width: 60%;
  overflow-x: hidden;
}