.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
}

.link_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.link_title span {
  font-weight: bold;
  color: gray;
  margin-left: 10px;
  font-size: 10px;
}

.input_container {
  display: flex;
  padding: 0;
}

.input_field {
  border: none;
  outline: none;
  width: 400px;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  opacity: 0.8;
  background-color: var(--input);
  margin-right: 10px;
}

.delete_btn {
  width: 60px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #ff4040;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.8;
}

.delete_btn svg {
  font-size: 25px;
  margin-left: 12px;
}
.delete_btn:hover{
  background-color: #c72424;
}